html{
    scroll-behavior: smooth;
}

body{
    background-color: grey;  
    margin: 0;  
}

.circle{
    height:113px;
    width: 113px;
    margin: 8px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
}


.toggle, [id ^= drop]{
    display: none;
}

nav{
    margin: 0;
    padding: 0;
    background-color: #041b40;
    height: 128px;
}

nav:after{
    content: "";
    display: table;
    clear: both;
}

nav ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    bottom: 112px;
    right: 45px;
}

nav ul li{
    margin: 0px;
    display: inline-block;
    background-color: #041b40;
}


nav a{
    display: block;
    padding: 12px 65px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    line-height: 32px;
}

nav ul li:hover{
    background: #020d1e;
}

.icon{
    float: right;
}

.toggle p {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    font-weight: 600;
    padding: 5px 0;
}

.toggle i{
    float: right ;
    right: 10px;
    font-size: 18px;
    color: #fff;
}

nav a:hover{
    background: #020d1e;
    color: #fff;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 55px;
}

nav ul li:hover > ul{
    display: inherit;
}

nav ul ul li{
    width: 100%;
    float: none;
    display: list-item;
    position: relative;
    right: 487px;
    background: blue;
    z-index: 1;
}

.button{
    border-radius: 10px;
    padding: 18px;
    background-color: green;
    text-decoration: none;
    border: none;
    position: relative;
    left: 45%;
    top: 85%
}

.bottomButton{
    border-radius: 10px;
    padding: 18px;
    background-color: green;
    text-decoration: none;
    
}

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 170px;
}


.PG-name-container{
    background-color: blue;
    width: 200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PG-name{ 
    color: red;
}

.img-container{
    width: 100%;
    height: 510px;
    background-color: blue;
}

.about-page{
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.about-header{
    position: relative;
    top: 50px;
}

.about-text{
    position: relative;
    bottom: 50px;
    margin: 100px;
    text-align: center;
}

.fun-facts{
    width: 100%;
    height: 800px;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fun-fact-header{
    position: relative;
    top: 40px;
}

.circle2{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center; 
    right: 17px;
    top: 24px;
    margin-left: 100px;  
    margin-right: 100px;
    margin-bottom: 80px
}

.fun-fact-text{
    display: flex;
    flex-wrap: wrap;
}

.circle-text{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    margin: 130px;
    margin-right: 130px;
    position: relative;
    bottom: 480px;
    right: 20px;
}

.circle-text2{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    margin: 130px;
    margin-right: 155px;
    position: relative;
    bottom: 490px;
}

.getting-there{
    width: 100%;
    height: 500px;
    background-color: orange;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle3{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center; 
    right: 17px;
    margin: 100px;
    bottom: 30px;
}

.Train-container{
    height: 60px;
    width: 170px;
    list-style: none;
    font-size: 20px;
    text-align: center;
    position: relative;
    right: 250px;
    bottom: 140px;
}

.Bus-container{
    font-size: 20px;
    list-style: none;
    position: relative;
    bottom: 140px;
    right: 30px;
}

.Walk-container{
    width: 150px;
    height: 60px;
    font-size: 20px;
    list-style: none;
    display: flex;
    text-align: center;
    position: relative;
    bottom: 140px;
    left: 205px;
}

.logistics{
    width: 100%;
    height: 200px;
    background-color: paleturquoise;
    display: flex;
    line-height: 50px;   
}

.logistics-info{
    font-size: 20px;
    list-style: none;
    position: relative;
    left: 50px;
}

.copyright{
    width: 100%;
    height: 75px;
    display: flex;
    background-color: lightpink;
    font-size: 15px;
}

@media screen and (max-width: 800px){
    nav a {
        display: block;
        padding: 20px 225px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        line-height: 32px;
        width: 200px;
        position: relative;
        right: 90px;
    }
    nav{
        height: 45px;
        width: 567px;
    }
    .toggle + a, .nav{
        display: none;
    }
    .toggle p{
        margin-left: 96px;
    }
    .toggle{
        display: block;
        background-color: #041b40;
        padding: 14px 20px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover{
        background-color: #020d1e;
    }

    [id ^= drop]:checked + ul{
        display: block;
    }
    nav ul{
        bottom: 0px;
        right: 0px;
    }
    nav ul li{
        display: block;
    }
    nav ul li .toggle, nav ul ul a{
        padding: 20px 40px;
    }
    nav ul ul .toggle nav ul ul a{
        padding: 0 80px;
    }
    nav a:hover, nav ul ul ul{
        background-color: #020d1e;
    }
    nav ul li ul li .toggle, nav ul ul a, nav ul ul ul a{
        padding: 14px 220px;
        position: relative;
        right: 0;
        color: #fff;
    }
    nav ul li li .toggle, nav ul ul a{
        background-color: #073986;
        padding-left: 229px;
    }
    nav ul ul{
        float: none;
        position: static;
        color: #fff;
    }
    nav ul li li:hover > ul, nav ul li:hover > ul{
        display: none;
    }
    nav ul ul li{
        display: block;
        width: 100%;
        position: relative;
        right: 0px
    }
    nav ul ul ul li{
        position: static;
    }

    .img-container, .about-page {
        width: 567px;
    }

    .fun-facts{
        width: 567px;
        height: 1890px;
    }

    .circle2{
        margin-bottom: 100px;
    }

    .circle-text{
        position: relative;
        bottom: 1704px;
        margin-bottom: 146px;
    }
    
    .fun-fact-text{
        justify-content: center;

    }

    .circle-text2{
        position: relative;
        bottom: 1736px;
        margin-bottom: 150px;
    }

    .getting-there{
        width: 567px;
        height: 1034px;
    }

    .circle3{
        margin: 50px;
    }
    
    .Train-container{
        left: 148px;
        bottom: 701px;
    }

    .Bus-container{
        bottom: 399px;
    }

    .Walk-container{
        left: -205px;
        bottom: 102px;
    }

    .logistics{
        width: 567px;
    }


    .copyright{
        width: 567px;
        height: 160px;
        text-align: center;
    }
}