.form-container{
    width: 100%;
    height: 1220px;
    background-color: blue;
}

.forms-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.forms{
    display: flex;
    justify-content: center;
}
.form-info{
    width: 80%;
    height: 1050px;
    display: flex;
    flex-direction: column;
}

select{
    padding: 16px;
    outline: none;
    background: burlywood;
    border-radius: 10px;
}

.error{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error2{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error3{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error4{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error5{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.captcha{
    width: 100%;
    height: 208px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.wrapper{
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.wrapper header{
    text-align: center;   
}

.wrapper .captcha-area{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
}

.captcha-img{
    height: 60px;
    width: 235px;
}

.captcha-img img{
    width: 235px;
    height: 60px;
    object-fit: cover;
    opacity: 0.90;
    border-radius: 5px;
}

.code{
    position: relative;
    left: 5%;
    bottom: 85%;
    color: black;
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 0 0 2px #a9a9a9;
    font-size: 30px;
}

.wrapper button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: #4db2ec;
    border-radius: 5px;
}

.reload{
    width: 60px;
    height: 60px;
    font-size: 25px;
}

.captcha input{
    height: 36px;
    width: 272px;
    position: relative;
    outline: none;
    font-size: 15px;
    border: 1px solid #bfbfbf;
    padding-left: 10px
}

.captcha input:is(:focus, :valid){
    padding-left: 19px;
    border: 2px solid #4db2ec;
}

.check{
    position: absolute;
    right: 492px;
    height: 29px;   
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(25%);
}

.captcha input:valid + .check{
    opacity: 1;
    pointer-events: auto;
}
.status{
    display: none;
    font-size: 10px;
    text-align: center;
    margin: 14px 0 -5px 0;   
}

.submit-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
.submit-button{
    background:#0066A2;
     color:white;
     border-color:#0066A2;
     height:50px;
     width:100px;
}

.mainForm{
    position: relative;
    bottom: 81px;
}