@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');


/*Home page*/
html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to bottom, red , yellow);
    margin: 0;  
}

.circle{
    height:113px;
    width: 113px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.toggle, [id ^= drop]{
    display: none;
}

nav{
    margin: 0;
    padding: 0;
    height: 128px;
    background-color: #231F20;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav:after{
    content: "";
    display: table;
    clear: both;
}

nav ul{
    float: right;
    padding-right: 95px;
    list-style: none;
    position: relative;
    bottom: 100px;
    right: 10px;
}

nav ul li{
    margin: 0px;
    display: inline-block;
}


nav a{
    display: block;
    padding: 7.5px 36px;
    color: #CED2D5;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    line-height: 32px;
}

nav ul li:hover{
    background: #6a747b;
}

.icon{
    float: right;
}

.toggle p {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    font-weight: 600;
    padding: 5px 0;
}

.toggle i{
    float: right ;
    right: 10px;
    font-size: 18px;
    color: #fff;
}

nav a:hover{
    background: #6a747b;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 46px;
}

nav ul li:hover > ul{
    display: inherit;
}

nav ul ul li{
    width: 100%;
    float: none;
    display: list-item;
    position: relative;
    right: 391px;
    background: #51585e;
    z-index: 1;
}

.button{
    border-radius: 10px;
    padding: 16px;
    background-color: #7FFED3;
    color:#1F61E0;
    text-decoration: none;
    border: none;
    position: absolute;
    left: 45%;
    bottom: 55px;
    display: flex;
    justify-content: center;
}

.button:hover{
    background-color: #328D68;
    transform: scale(1.1)
}

.bottomButton{
    border-radius: 10px;
    padding: 18px;
    background-color: #2CD38D;
    color: #1F61E0;
    text-decoration: none;
    
}

nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 170px;
}


.PG-name-container{
    background-color: blue;
    width: 200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PG-name{ 
    color: red;
}

.img-container{
    width: 100%;
    height: 520px;
    background-color: blue;
}

.img-fit{
    width:100%;
    height: 520px;
}

.about-page{
    width: 100%;
    height: 400px;
    background-color: #a7dddf;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.about-header{
    position: relative;
    top: 50px;
}

.about-text{
    position: relative;
    bottom: 50px;
    margin: 100px;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.fun-facts{
    width: 100%;
    height: 800px;
    background-image: url("Images/Home page/Grass.png"); 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fun-fact-header{
    position: relative;
    top: 24px;
}

.circle2{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center; 
    right: 17px;
    top: 24px;
    margin-left: 100px;  
    margin-right: 100px;
    margin-bottom: 80px
}

.fun-fact-text{
    display: flex;
    flex-wrap: wrap;
}

.circle-text{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    margin: 130px;
    margin-right: 117px;
    position: relative;
    bottom: 480px;
    right: 20px;
    font-family: 'Architects Daughter', cursive;
}

.circle-text2{
    color: black;
    background-color: rgba(red, green, blue, alpha);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    margin: 130px;
    margin-right: 114px;
    position: relative;
    bottom: 490px;
    font-family: 'Architects Daughter', cursive;
}

.getting-there{
    width: 100%;
    height: 521px;
    background-color: #FAF6D4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle3{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center; 
    right: 17px;
    margin: 100px;
    bottom: 30px;
}

.Train-container{
    height: 60px;
    width: 170px;
    list-style: none;
    font-size: 20px;
    text-align: center;
    position: relative;
    right: 250px;
    bottom: 140px;
    font-family: 'Architects Daughter', cursive;
}

.Bus-container{
    font-size: 20px;
    list-style: none;
    position: relative;
    bottom: 140px;
    right: 30px;
    font-family: 'Architects Daughter', cursive;
}

.Walk-container{
    width: 150px;
    height: 60px;
    font-size: 20px;
    list-style: none;
    display: flex;
    text-align: center;
    position: relative;
    bottom: 140px;
    left: 205px;
    font-family: 'Architects Daughter', cursive;
}

.logistics{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    line-height: 50px;   
}

.logistics-info{
    font-size: 20px;
    list-style: none;
    position: relative;
    left: 8px;
    color: white;
    font-family: 'Architects Daughter', cursive;;
}

.copyright{
    width: 100%;
    height: 75px;
    display: flex;
    color: white;
    background-color: black;
    font-size: 15px;
    text-align: center;
}

div a:hover{
    color: blue;
}

@media screen and (max-width: 800px){
    nav a {
        display: block;
        padding: 20px 309px;
        color: #CED2D5;
        background-color: #6a747b;
        font-size: 14px;
        text-decoration: none;
        line-height: 32px;
        width: 200px;
    }
    nav{
        height: 45px;
        width: 569px;
    }
    .toggle + a, .nav{
        display: none;
    }
    .toggle p{
        margin-left: 276px;
    }
    .toggle{
        display: block;
        padding: 14px 20px;
        color: #CED2D5;
        background-color: #231F20;
        font-size: 14px;
        text-decoration: none;
        border: none;
    }


    [id ^= drop]:checked + ul{
        display: block;
        bottom: 18px;
        height: 32px;
    }
    nav ul{
        bottom: 0px;
        right: 0px;
    }
    nav ul li{
        display: block;
        position: relative;
        left: 95px;
    }
    nav ul li .toggle, nav ul ul a{
        padding: 20px 40px;
        background-color: #6a747b;
    }
    nav ul ul .toggle nav ul ul a{
        padding: 0 80px;
    }
    nav a:hover, nav ul ul ul{
        background-color: #6a747b;
    }
    nav ul li ul li .toggle, nav ul ul a, nav ul ul ul a{
        padding: 14px 253px;       
        color: #CED2D5;
    }
    nav ul li li .toggle, nav ul ul a{
        background-color: #51585e;
        padding-left: 229px;
    }
    nav ul ul{
        float: none;
        position: static;
        color: #fff;
    }
    nav ul li li:hover > ul, nav ul li:hover > ul{
        display: none;
    }
    nav ul ul ul li{
        position: static;
    }

    .img-container, .about-page {
        width: 569px;
    }

    .about-header{
        top: 16px;
    }
    
    .fun-facts{
        width: 569px;
        height: 1890px;
        background-image: none;
        background-color: wheat;
    }

    .circle2{
        margin-bottom: 100px;
    }

    .circle-text{
        position: relative;
        bottom: 1704px;
        margin-bottom: 146px;
    }
    
    .fun-fact-text{
        justify-content: center;

    }

    .circle-text2{
        position: relative;
        bottom: 1736px;
        margin-bottom: 150px;
        right: 21px;
    }

    .getting-there{
        width: 569px;
        height: 1081px;
    }

    .circle3{
        margin: 55px;
    }
    
    .Train-container{
        left: 148px;
        bottom: 724px;
    }

    .Bus-container{
        bottom: 399px;
    }

    .Walk-container{
        left: -205px;
        bottom: 102px;
    }

    .logistics{
        width: 569px;
    }


    .copyright{
        width: 569px;
        height: 180px;
        text-align: center;
        align-items: center;
    }

    .button{
        top: 218px;
        bottom: auto;
        left: 238px;
        padding: 10px;
    }
}

/*Parks*/
html{
    scroll-behavior: smooth;
}

h1{
    font-family: 'Fuzzy Bubbles', cursive;
}

body{
    margin: 0;
}

.slideshowContainer{
    width: 100%;
    height: 510px;
}

.animate{
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.discover-button:hover .button{
    background: #3e8e41;
}


.RiverInfo{
    height: 264px;
    background-color: white;
    display: flex;
    text-align: center;
    padding-left: 45px;
    padding-top: 96px;
}


.slideshowContainer i{
    color: #7FFED3;
    font-size: 2rem;
    position: relative;
    top: 435px;
    left: 623px;
}

.bouncing{
    animation: bouncing 2s infinite;
  }
  
@keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.about{
    width: 600px;
    position: relative;
    margin: 10px;
    text-decoration: none;
}

.vertical-line{
    width: 30px;
    height: 235px;
    background-color: aqua;
    display: block; 
    position: relative;
    left: 25px;
    bottom: 42px;
}

.info{
    margin: 40px;
    position: relative;
    bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.adventure{
    width: 100%;
    height: 597px;
    background-color: aqua;
    flex-wrap: wrap;
    position: absolute;
    
}

.adventure-container{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
}

.events{
    width: 250px;
    height: 350px;
    background-color: cornsilk;
    font-size: 30px; 
    margin: 65px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parks-header{
    position: relative;
    top: 35px;
    left: 319px;
}

.iconic-header{
    width: 100%;
    height: 80px;    
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.showcase-animal{
    width: 100%;
    height: 1000px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.display-container{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 100px;
    left: 50px;    
}

.display{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.centered {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.display-container:hover .display {
    opacity: 0.3;
}
  
.display-container:hover .centered {
    opacity: 1;
}

.hover-text{
    background-color: grey;
    color: white;
    font-size: 15px;
    padding: 16px 32px;
}


.double-button{
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}

.double-button a:hover{
    background-color: #328D68;
}


@media screen and (max-width: 800px){
    .animate{
        height: 220px;
        width: 569px;
    }
    .slideshowContainer{
        height: 221px;
    }
    .slideshowContainer i{
        font-size: 1rem;
        top: 191px;
        left: 272px;
    }
    .RiverInfo{
        width: 559px;
        padding-left: 10px;
    }
    .about{
        width: 172px;
        bottom: 41px;
        font-size: 10px;
    }
    .info{
        font-size: 15px;
        bottom: 25px;
    }
    .adventure{
        height: 1510px;
        width: 569px;
        display: none;
    }
    .parks-header{
        left: 100px;
        font-size: 20px;
    }
    .events{
        position: relative;
        left: 18px;
    }
    .adventure-container{
        justify-content: center;
        left: 39px;
    }
    .iconic-header{
        width: 569px;
    }
    .showcase-animal{
        width: 569px;
        height: 1048px;
    }

    .display-container{
        width: 180px;
        height: 180px;
        margin-right: 73px;
        left: 38px;
    }
    .double-button{
        width: 569px;
    }
}

/*forms*/
.form-container{
    width: 100%;
    height: 1220px;
    background-color: blue;
}

.forms-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.forms{
    display: flex;
    justify-content: center;
}
.form-info{
    width: 80%;
    height: 1050px;
    display: flex;
    flex-direction: column;
}

select{
    padding: 16px;
    outline: none;
    background: burlywood;
    border-radius: 10px;
}

.error{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error2{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error3{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error4{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.error5{
    color: red;
    font-size: 10px;
    position: relative;
    bottom: 12px;
}

.captcha{
    width: 100%;
    height: 208px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.wrapper{
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.wrapper header{
    text-align: center;   
}

.wrapper .captcha-area{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
}

.captcha-img{
    height: 60px;
    width: 235px;
}

.captcha-img img{
    width: 235px;
    height: 60px;
    object-fit: cover;
    opacity: 0.90;
    border-radius: 5px;
}

.code{
    position: relative;
    left: 5%;
    bottom: 85%;
    color: black;
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 0 0 2px #a9a9a9;
    font-size: 30px;
}

.wrapper button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: #4db2ec;
    border-radius: 5px;
}

.reload{
    width: 60px;
    height: 60px;
    font-size: 25px;
}

.captcha input{
    height: 36px;
    width: 272px;
    position: relative;
    outline: none;
    font-size: 15px;
    border: 1px solid #bfbfbf;
    padding-left: 10px
}

.captcha input:is(:focus, :valid){
    padding-left: 19px;
    border: 2px solid #4db2ec;
}

.check{
    position: absolute;
    right: 492px;
    height: 29px;   
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(25%);
}

.captcha input:valid + .check{
    opacity: 1;
    pointer-events: auto;
}
.status{
    display: none;
    font-size: 10px;
    text-align: center;
    margin: 14px 0 -5px 0;   
}

.submit-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
.submit-button{
    background:#0066A2;
     color:white;
     border-color:#0066A2;
     height:50px;
     width:100px;
}

.mainForm{
    position: relative;
    bottom: 81px;
}

@media screen and (max-width: 569px){
    .forms-header{
        font-size: 12px;
        position: relative;
        top: 23px;
    }
    .form-container{
        width: 569px;
    }
}

/*Plan your visit*/
html{
    scroll-behavior: smooth;
}

.planContainer{
    width: 100%;
    height: 1436px;
}

.Plan-Visit{
    width: 100%;
    height: auto;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 82px;
}

.plan-header{
    position: relative;
    top: 50px;
}

.Info-name{
    width: 1000px;
    height: 300px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}
.Box-design{
    width: 215px;
    height: 50px;
    border-style: solid;
    border-color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 69px;
}

.Item{
    width: 645px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-box{
    width: 700px;
    height: 50px;
    position: relative;
    top: 18px;
}

.finalNavBar{
    width: 100%;
    height: 300px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.group{
    width: 138px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;  
    position: relative;
    bottom: 34px;  
}

.textDesign{
    text-decoration: none;
    color: white;
    padding: 0;
}

@media screen and (max-width: 800px){
    .Plan-Visit{
        bottom: 0px;
        width: 569px;
    }
    
    .planContainer{
        height: 1198px;
    }
    .plan-header{
        font-size: 20px;
    }
    .finalNavBar{
        width: 569px;
        height: 451px;
    }

    .Info-name{
        margin: 0px;
        margin-top: 50px;
    }
    .Item{
        width: 569px;
        position: absolute;
    }

    .Box-design{
        width: 117px;
        height: 37px;
        text-align: center;
    }
    .Name{
        left: 40px;
    }

    .item-box{
        font-size: 10px;
        left: 180px;
        width: 366px;
    }

    h2{
        font-size: 20px;
    }

    .textDesign{
        right: 0px;
    }

    .group{
        bottom: 32px;
        left: 61px;
        line-height: 13px;
        margin-bottom: -20px;
    }

    
}

/*Things to do*/
html{
    scroll-behavior: smooth;
}

.thingsToDo{
    width: 100%;
    height: 1350px;
    background-color: aqua;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.thingsToDo-container{
    display: flex;
    flex-wrap: wrap;
}

.thingsToDo-box{
    display: flex;
    width: 500px;
    height: 450px;
    background-color: yellow;   
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 40px;
}

.thingsToDo-text{
    width: 500px;
    height: 150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: red;
    list-style: none;
    padding: 30px;
}

.Tours{
    display: flex;
    position: relative;
    margin-right: 160px;
    list-style: none;
    left: 50px;
    bottom: 150px;
}

.imageSizeTop{
    width: 500px;
    height: 242px;
    display: flex;
    position: absolute;
    top: 902px;
}

.imageSizeBottom{   
    width: 500px;
    height: 242px;
    display: flex;
    position: absolute;
    top: 1452px;
}


@media screen and (max-width:800px) {
    .thingsToDo{
        height: 710px;
        width: 569px;
    }
    .thingsToDo-box{
        width: 171px;
        height: 268px;
        margin-left: 39px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .thingsToDo-text{
        height: 129px;
        font-size: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;       
    }
    .imageSizeBottom{
        width: 171px;
        height: 94px;
        position:absolute;
        top: 392px;
    }
    .imageSizeTop{
        width: 171px;
        height: 94px;
        position:absolute;
        top: 691px;
    }
    .Tours{
        margin-bottom: 248px;
        bottom: 696px;
        text-align: center;
        left: 65px
    }
}