.form-container{
    width: 100%;
    height: 800px;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.forms-header{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    top: 30px;
    justify-content: center;
}

.form-info{
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

select{
    padding: 16px;
    outline: none;
    background: burlywood;
    border-radius: 10px;
}

.submit-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.submit-button{
    background:#0066A2;
     color:white;
     border-color:#0066A2;
     height:50px;
     width:100px;
}