.RiverInfo{
    height: 264px;
    background-color: white;
    display: flex;
    text-align: center;
    padding-left: 45px;
    padding-top: 96px;
}

.about{
    width: 600px;
    position: relative;
    bottom: 10px;
    margin: 10px;
}

.vertical-line{
    width: 30px;
    height: 235px;
    background-color: aqua;
    display: block; 
    position: relative;
    left: 25px;
    bottom: 42px;
}

.info{
    margin: 40px;
    position: relative;
    bottom: 20px;
    font-size: 20px;
}

.adventure{
    width: 1247px;
    height: 500px;
    background-color: brown;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.adventure-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
}

.events{
    width: 150px;
    height: 250px;
    margin: 30px;
    background-color: cornsilk;
    font-size: 30px; 
    margin: 100px;
}